/* muli-regular - latin-ext_latin */
@font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/muli-v20-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/muli-v20-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/muli-v20-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/muli-v20-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */ url('../fonts/muli-v20-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/muli-v20-latin-ext_latin-regular.svg#Muli') format('svg'); /* Legacy iOS */
}

/* muli-300 - latin-ext_latin */
@font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/muli-v20-latin-ext_latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/muli-v20-latin-ext_latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/muli-v20-latin-ext_latin-300.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/muli-v20-latin-ext_latin-300.woff') format('woff'), /* Modern Browsers */ url('../fonts/muli-v20-latin-ext_latin-300.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/muli-v20-latin-ext_latin-300.svg#Muli') format('svg'); /* Legacy iOS */
}

/* muli-700 - latin-ext_latin */
@font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/muli-v20-latin-ext_latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/muli-v20-latin-ext_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/muli-v20-latin-ext_latin-700.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/muli-v20-latin-ext_latin-700.woff') format('woff'), /* Modern Browsers */ url('../fonts/muli-v20-latin-ext_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/muli-v20-latin-ext_latin-700.svg#Muli') format('svg'); /* Legacy iOS */
}

/* muli-900 - latin-ext_latin */
@font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/muli-v20-latin-ext_latin-900.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/muli-v20-latin-ext_latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/muli-v20-latin-ext_latin-900.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/muli-v20-latin-ext_latin-900.woff') format('woff'), /* Modern Browsers */ url('../fonts/muli-v20-latin-ext_latin-900.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/muli-v20-latin-ext_latin-900.svg#Muli') format('svg'); /* Legacy iOS */
}

/* muli-800 - latin-ext_latin */
@font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/muli-v20-latin-ext_latin-800.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/muli-v20-latin-ext_latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/muli-v20-latin-ext_latin-800.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/muli-v20-latin-ext_latin-800.woff') format('woff'), /* Modern Browsers */ url('../fonts/muli-v20-latin-ext_latin-800.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/muli-v20-latin-ext_latin-800.svg#Muli') format('svg'); /* Legacy iOS */
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

body {
    font-family: 'Muli', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 42px;
    letter-spacing: -0.000430634px;
    color: #000000;
}

img {
    max-width: 100%;
    height: auto;
}

.wrapper {
    max-width: 1920px;
    margin: 0 auto;
}

.container {
    max-width: 1486px;
    margin: 0 auto;
}


/*Header styles*/

.header {
    padding: 49px 0 48px 0;
}

.header__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo img {
    vertical-align: middle;
}

.site-navigation {
    width: 822px;
}

.header-nav {
    list-style: none;
    margin: 0;
    padding: 0 0 0 139px;
    display: flex;
    justify-content: space-between;
}

.header-nav__link {
    text-decoration: none;
    font-weight: 800;
    font-size: 17px;
    line-height: 21px;
    letter-spacing: -0.000366039px;
    text-transform: uppercase;
    color: #2A3C90;
}

.header-nav__link:hover,
.header-nav__link:focus,
.header-nav__link:active {
    opacity: .7;
}

.header-btn {
    width: 243px;
    height: 60px;
}

.btn-blue {
    font-family: Muli, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.000301444px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    background-color: #3C4D9A;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-blue:hover,
.btn-blue:focus {
    background-color: #586CCC;
}

/*Header styles end*/

/*Main page styles*/

/*Intro*/

.intro {
    padding-top: 142px;
    height: 1113px;
    background: url(../img/main-page-intro.jpg) center no-repeat;
    background-size: cover;
    position: relative;
}

.intro__wrapper {
    max-width: 750px;
}

.intro__title {
    font-family: Muli, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 100px;
    line-height: 126px;
    letter-spacing: -0.4px;
    color: #FFFFFF;
    margin-bottom: 39px;
}

.intro__subtitle {
    margin: 0 0 153px 0;
    color: #FFFFFF;
    max-width: 484px;
}

.intro-btn {
    border: 2px solid #4D5EAA;
    border-radius: 38px;
    width: 271px;
    height: 76px;
}

.intro__arrow {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 105px;
    width: 40px;
    height: 22px;
}

.intro__arrow:hover {
    cursor: pointer;
}

.intro__arrow-block {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all .2s ease;
}

.intro__arrow:hover .intro__arrow-block {
    transform: translateY(10px);
}

.intro__arrow-block::before {
    position: absolute;
    content: "";
    top: 10px;
    left: -4px;
    width: 28px;
    height: 2px;
    background-color: #fff;
    transform: rotate(45deg);
}

.intro__arrow-block::after {
    position: absolute;
    content: "";
    top: 10px;
    left: 16px;
    width: 28px;
    height: 2px;
    background-color: #fff;
    transform: rotate(-45deg);
}


/*Intro end*/

/*About styles*/

.about {
    padding-top: 158px;
    padding-bottom: 170px;
    background: url(../img/main-page-about.jpg) center no-repeat;
    background-size: cover;
}

.about__wrapper {
    display: flex;
    margin-bottom: 163px;
}

.about__block {
    width: 50%;
}

.about__block:first-child {
    padding-top: 121px;
}

.about__block:last-child {
    padding-left: 140px;
}

.section-title {
    font-weight: 900;
    font-size: 70px;
    line-height: 88px;
    letter-spacing: -0.00150722px;
    color: #000000;
}

.about__title {
    margin-bottom: 57px;
}

.about__subtitle {
    max-width: 466px;
    margin: 0;
    padding-left: 2px;
}

.about__columns {
    display: flex;
    justify-content: space-between;
}

.about__columns-item {
    max-width: 385px;
}

.about__columns-img {
    margin-bottom: 75px;
    height: 90px;
}

.about__columns-title {
    font-weight: 900;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: -0.00064595px;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 43px;
}

.about__columns-text {
    font-weight: 300;
    font-size: 20px;
    line-height: 42px;
    letter-spacing: -0.000430634px;
    color: #000000;
    margin: 0;
}

/*About styles end*/

/*Testimonials styles*/

.testimonials {
    padding: 174px 0 145px 0;
    background: url(../img/main-page-testimonials.jpg) no-repeat;
    background-position: 50% -14.5%;
    background-size: cover;
}

.slider {
    max-width: 1018px;
    margin: 0 auto 145px auto;
}

.testimonials__title {
    text-align: center;
    margin-bottom: 60px;
}

.slider__item {
    margin-bottom: 65px;
}

.slider__text {
    font-weight: 300;
    font-size: 20px;
    line-height: 42px;
    text-align: center;
    letter-spacing: -0.000430634px;
    color: #000000;
    margin: 0 0 31px 0;
}

.slider__subtitle {
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.000430634px;
    color: #000000;
    margin: 0;
}

.slider__buttons {
    max-width: 59px;
    height: 12px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider__buttons span {
    width: 7px;
    height: 7px;
    background-color: #3C4D9A;
    opacity: 0.2;
    border-radius: 50%;
}

.slider__buttons span:nth-child(2) {
    transform: scale(1.7);
    opacity: 0.5;
}

.slider__buttons span:hover {
    cursor: pointer;
}

.partners {
    max-width: 1465px;
    height: 80px;
    margin: 0 auto;
    opacity: 0.2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.partners img:last-child {
    align-self: flex-start;
}

/*Testimonials styles end*/

/*Feedback*/

.feedback {
    display: flex;
    height: 1012px;
}

.feedback__block:first-child {
    width: 50%;
    background-color: #3C4D9A;
    padding: 130px 193px 0 214px;
}

.feedback-title {
    font-weight: 900;
    font-size: 80px;
    line-height: 100px;
    letter-spacing: -0.00172253px;
    color: #FFFFFF;
    margin-bottom: 36px;
}

.feedback-subtitle {
    margin: 0;
    font-weight: 300;
    font-size: 20px;
    line-height: 42px;
    letter-spacing: -0.000430634px;
    color: #FFFFFF;
    max-width: 461px;
    padding-left: 3px;
}

.feedback__block:last-child {
    width: 50%;
    padding: 150px 150px 0 102px;
}

.form {
    display: flex;
    flex-direction: column;
    position: relative;
}

.form__field {
    width: 641px;
    height: 80px;
    outline: none;
    border: 2px solid #CCCCCC;
    border-radius: 8px;
    margin-bottom: 40px;
    padding-left: 58px;
    padding-top: 5px;
}

.form__field:focus {
    border-color: #596ABA;
}

.form__field::placeholder {
    font-family: Muli, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 31px;
    letter-spacing: -0.000347819px;
    color: #000000;
}

.textarea {
    width: 641px;
    height: 216px;
    border: 2px solid #CCCCCC;
    border-radius: 8px;
    padding-left: 57px;
    padding-top: 37px;
    outline: none;
}

.textarea::placeholder {
    font-family: Muli, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 31px;
    letter-spacing: -0.000347819px;
    color: #000000;
}

.textarea:focus {
    border-color: #596ABA;
}

.submit-btn {
    width: 416px;
    height: 95px;
    position: absolute;
    bottom: -135px;
    left: 113px;
    border-radius: 56.5px;
    background-color: #596ABA;
    border: 0;
    font-weight: 900;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.000430634px;
}

.submit-btn:hover,
.submit-btn:focus {
    cursor: pointer;
    background-color: #3C4D9A;
}

/*Feedback end*/

/*Main page styles end*/

/*Footer styles*/

.footer {
    background: linear-gradient(180deg, #0C1331 0%, #131D4B 100%);
    padding: 138px 0 146px 0;
}

.footer__top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 61px;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    width: 685px;
    height: 41px;
    margin: 0 0 0 120px;
    padding: 3px 0 0 0;
    list-style: none;
}

.footer-nav__item {
    border-bottom: 1px solid #3C4D9A;
    transition: all .2s linear;
}

.footer-nav__item:hover {
    border: 0;
}

.footer-nav__link {
    font-family: Muli, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 17px;
    line-height: 21px;
    letter-spacing: -0.000366039px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}

.footer-btn {
    width: 243px;
    height: 60px;
}

.footer__middle {
    display: flex;
    padding: 51px 0 44px 0;
    border-top: 1px solid rgba(255, 255, 255, .21);
    border-bottom: 1px solid rgba(255, 255, 255, .21);
}

.footer__middle-block:first-child {
    display: flex;
    border-right: 1px solid rgba(255, 255, 255, .21);
    padding-right: 52px;
}

.footer__middle__phone {
    margin-right: 28px;
}

.phone-link {
    font-family: Muli, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: -0.000361732px;
    color: #FFFFFF;
    text-decoration: none;
}

.footer__middle__city {
    font-family: Muli, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: -0.000361732px;
    color: #FFFFFF;
    text-decoration: none;
}

.footer__middle-block:nth-child(2) {
    font-family: Muli, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.000278256px;
    color: #FFFFFF;
    padding: 5px 55px 0 52px;
    border-right: 1px solid rgba(255, 255, 255, .21);
}

.email-block {
    padding: 6px 0 0 54px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.email-link {
    height: 30px;
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.000430634px;
    color: #FFFFFF;
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.email-link:hover {
    border: 0;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 91px;
    position: relative;
}

.footer__copyright {
    display: flex;
    height: 30px;
}

.copyright-text,
.policy-link {
    font-family: Muli, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.000241155px;
    color: #FFFFFF;
    opacity: .5;
}

.copyright-text {
    margin: 0;
    margin-right: 76px;
}

.policy-link {
    text-decoration: none;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(255, 255, 255, .4);
}

.policy-link:hover {
    border: 0;
}

.policy-link:last-child {
    margin-left: 35px;
}

.footer__socials {
    position: absolute;
    top: 76px;
    right: -1px;
}

.social-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.social-list-link {
    display: block;
    width: 52px;
    height: 52px;
    background-color: rgba(255, 255, 255, .15);
    border-radius: 50%;
    margin-right: 22px;
}

.social-list-link:hover {
    opacity: .7;
}

.social-list-link--fb {
    background-image: url(../img/svg/fb-icon.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.social-list-link--lkdn {
    background-image: url(../img/svg/lkdn-icon.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.social-list-link--inst {
    background-image: url(../img/svg/inst-icon.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.social-list-link--twt {
    background-image: url(../img/svg/twt-icon.svg);
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 0;
}

/*Footer styles end*/