html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

body {
    font-family: 'Muli', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 42px;
    letter-spacing: -0.000430634px;
    color: #000000;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1486px;
    margin: 0 auto;
}


/*Header styles*/

.header {
    padding: 49px 0 48px 0;
    box-shadow: 0 2px 59px rgba(0, 0, 0, 0.3);
    position: relative;
}

.header__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo img {
    vertical-align: middle;
}

.site-navigation {
    width: 822px;
}

.header-nav {
    list-style: none;
    margin: 0;
    padding: 0 0 0 139px;
    display: flex;
    justify-content: space-between;
}

.header-nav__link {
    text-decoration: none;
    font-weight: 800;
    font-size: 17px;
    line-height: 21px;
    letter-spacing: -0.000366039px;
    text-transform: uppercase;
    color: #2A3C90;
    transition: opacity .3s linear;
}

.header-nav__link:hover,
.header-nav__link:focus,
.header-nav__link:active {
    opacity: .7;
}


.dropdown-menu {
    position: relative;
}

.dropdown-menu::before {
    position: absolute;
    padding: 40px 0 0 42px;
    content: "Services";
    font-weight: 800;
    font-size: 17px;
    line-height: 21px;
    letter-spacing: -0.000366039px;
    text-transform: uppercase;
    color: #fff;
    top: -29px;
    left: -42px;
    width: 177px;
    height: 81px;
    background: #586ccc;
    border-radius: 3px 3px 0 0;
    display: none;
    z-index: 100;
    box-shadow: 13px 7px 29px -11px rgba(0, 0, 0, 0.55);

}

.dropdown-menu::after {
    position: absolute;
    content: "";
    top: 15px;
    right: -22px;
    width: 12px;
    height: 12px;
    z-index: 150;
    background: url("../img/svg/header-arrow.svg") center no-repeat;
    cursor: pointer;
}

.drop-menu {
    position: absolute;
    width: 271px;
    left: -42px;
    top: 52px;
    z-index: 100;
    border-radius: 0 6px 6px 6px;
    background: #586ccc;
    display: none;
    box-shadow: 10px 10px 10px -8px rgba(0, 0, 0, 0.75);
}

.dropdown-menu:hover .drop-menu {
    display: block;
}

.dropdown-menu:hover::before {
    cursor: pointer;
    display: block;
}

.dropdown-menu:hover::after {
    background: url("../img/svg/header-arrow-2.svg") center no-repeat;
}

.drop-menu__list {
    padding: 33px 30px 31px 41px;
    list-style: none;
}

.drop-menu__link {
    display: block;
    font-weight: bold;
    font-size: 14px;
    line-height: 48px;
    text-transform: uppercase;
    color: #C4CDF9;
    text-decoration: none;
}

.drop-menu__item:nth-child(4) {
    margin-bottom: 24px;
}

.drop-menu__item:last-child .drop-menu__link:first-line {
    line-height: 0;
}

.drop-menu__link:hover {
    color: #fff;
}

.header-btn {
    width: 243px;
    height: 60px;
}

.btn-blue {
    font-family: Muli, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.000301444px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    background-color: #3C4D9A;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: background-color .3s linear;
}

.btn-blue:hover,
.btn-blue:focus {
    background-color: #586CCC;
}

/*Header styles end*/

/*Pop-up styles*/

.popup {
    max-width: 1074px;
    height: 1396px;
    margin: 179px auto 200px auto;
    border-radius: 8px;
    background: url(../img/popup-bg.jpg) center no-repeat;
    background-size: cover;
    position: relative;
}

.popup-close {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    top: 85px;
    right: 89px;
}

.popup-close:hover {
    cursor: pointer;
}

.popup-close__block {
    position: relative;
}

.popup-close__block::before {
    position: absolute;
    content: "";
    width: 50px;
    height: 2px;
    top: 23px;
    right: -2px;
    transform: rotate(45deg);
    background-color: #fff;
}

.popup-close__block::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 2px;
    top: 23px;
    right: -2px;
    transform: rotate(-45deg);
    background-color: #fff;
}

.popup__wrapper {
    max-width: 778px;
    margin: 0 auto;
    padding: 152px 0 0 0;
}

.popup__title {
    font-weight: 900;
    font-size: 70px;
    line-height: 88px;
    letter-spacing: -0.000973894px;
    color: #FFFFFF;
    margin-bottom: 28px;
}

.popup-2__title {
    text-align: center;
}

.popup__subtitle {
    max-width: 596px;
    margin: 0 auto 86px auto;
    font-weight: 300;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -0.000430634px;
    color: #FFFFFF;
    opacity: 0.6;
}

.popup__form {
    padding-left: 68px;
}


/*Pop-up styles end*/

/*Main page styles*/

/*Intro*/

.intro {
    padding-top: 142px;
    height: 1113px;
    background: url(../img/main-page-intro.jpg) center no-repeat;
    background-size: cover;
    position: relative;
}

.intro__wrapper {
    max-width: 750px;
}

.intro__title {
    font-family: Muli, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 100px;
    line-height: 126px;
    letter-spacing: -0.4px;
    color: #FFFFFF;
    margin-bottom: 39px;
}

.intro__subtitle {
    margin: 0 0 153px 0;
    color: #FFFFFF;
    max-width: 484px;
}

.intro-btn {
    border: 2px solid #4D5EAA;
    border-radius: 38px;
    width: 271px;
    height: 76px;
}

.intro-btn:hover {
    border: 0;
}

.intro__arrow {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 105px;
    width: 40px;
    height: 22px;
}

.intro__arrow:hover {
    cursor: pointer;
}

.intro__arrow-block {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all .2s ease;
}

.intro__arrow:hover .intro__arrow-block {
    transform: translateY(10px);
}

.intro__arrow-block::before {
    position: absolute;
    content: "";
    top: 10px;
    left: -4px;
    width: 28px;
    height: 2px;
    background-color: #fff;
    transform: rotate(45deg);
}

.intro__arrow-block::after {
    position: absolute;
    content: "";
    top: 10px;
    left: 16px;
    width: 28px;
    height: 2px;
    background-color: #fff;
    transform: rotate(-45deg);
}


/*Intro end*/

/*About styles*/

.about {
    padding-top: 158px;
    padding-bottom: 170px;
    background-image: url(../img/svg/main-page-about.svg);
}

.about__wrapper {
    display: flex;
    margin-bottom: 163px;
}

.about__block {
    width: 50%;
}

.about__block:first-child {
    padding-top: 121px;
}

.about__block:last-child {
    padding-left: 140px;
}

.section-title {
    font-weight: 900;
    font-size: 70px;
    line-height: 88px;
    letter-spacing: -0.00150722px;
    color: #000000;
}

.about__title {
    margin-bottom: 57px;
}

.about__subtitle {
    max-width: 466px;
    margin: 0;
    padding-left: 2px;
}

.about__columns {
    display: flex;
    justify-content: space-between;
}

.about__columns-item {
    max-width: 385px;
}

.about__columns-img {
    margin-bottom: 75px;
    height: 90px;
}

.about__columns-title {
    font-weight: 900;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: -0.00064595px;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 43px;
}

.about__columns-text {
    font-weight: 300;
    font-size: 20px;
    line-height: 42px;
    letter-spacing: -0.000430634px;
    color: #000000;
    margin: 0;
}

/*About styles end*/

/*Testimonials styles*/

.testimonials {
    padding: 174px 0 145px 0;
    background: url(../img/main-page-testimonials.jpg) no-repeat;
    background-position: 0 56px;
    background-size: cover;
}

.testimonials__title {
    text-align: center;
    margin-bottom: 60px;
}

.slider {
    max-width: 1018px;
    margin: 0 auto 136px auto;
}

.slider-2 {
    max-width: 1018px;
    margin: 0 auto 136px auto;
}

.slider__item {
    outline: none;
}

.slick-list {
    overflow: hidden;
}

.slick-track {
    display: flex;
}

.slider__text {
    font-weight: 300;
    font-size: 20px;
    line-height: 42px;
    text-align: center;
    letter-spacing: -0.000430634px;
    color: #000000;
    margin: 0 0 31px 0;
}

.slider__subtitle {
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.000430634px;
    color: #000000;
    margin: 0 0 44px 0;
}

.slider-buttons {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: center;
}

.slider-buttons button {
    font-size: 0;
    width: 7px;
    height: 7px;
    background-color: #3C4D9A;
    opacity: 0.2;
    border-radius: 50%;
    border: none;
    outline: none;
    padding: 0;
    margin-right: 8px;
}

li.slick-active button {
    width: 12px;
    height: 12px;
    opacity: 0.5;
}

.partners {
    position: relative;
    max-width: 1465px;
    height: 80px;
    margin: 0 auto;
    opacity: 0.2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.partners img:last-child {
    align-self: flex-start;
}

/*Testimonials styles end*/

/*Feedback*/

.feedback {
    background: linear-gradient(to right, #3C4D9A 50%, #fff 50%);
    height: 1012px;
    box-shadow: 0 2px 59px rgba(0, 0, 0, 0.3);
}

.feedback__wrapper {
    display: flex;
}

.feedback__left {
    width: 50%;
    padding: 130px 188px 0 0;
}

.feedback-title {
    font-weight: 900;
    font-size: 80px;
    line-height: 100px;
    letter-spacing: -0.00172253px;
    color: #FFFFFF;
    margin-bottom: 36px;
}

.feedback-subtitle {
    margin: 0;
    font-weight: 300;
    font-size: 20px;
    line-height: 42px;
    letter-spacing: -0.000430634px;
    color: #FFFFFF;
    max-width: 461px;
}

.feedback__right {
    width: 50%;
    padding: 150px 0 0 102px;
}

.form {
    display: flex;
    flex-direction: column;
    position: relative;
}

.form__field {
    width: 641px;
    height: 80px;
    outline: none;
    border: 2px solid #CCCCCC;
    border-radius: 8px;
    margin-bottom: 40px;
    padding: 24px 58px;
}

.popup__field {
    border: none;
    padding: 19px 58px;
}

.form__field:focus {
    border-color: #596ABA;
}

.form__field:focus .form__field::placeholder {
    display: none;
}

.form__field::placeholder {
    font-family: Muli, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 31px;
    letter-spacing: -0.000347819px;
    color: #000000;
}

.textarea {
    width: 641px;
    height: 216px;
    border: 2px solid #CCCCCC;
    border-radius: 8px;
    padding: 37px 57px;
    outline: none;
}

.popup__area {
    padding: 22px 57px;
    border: none;
}

.textarea::placeholder {
    font-family: Muli, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 31px;
    letter-spacing: -0.000347819px;
    color: #000000;
}

.textarea:focus {
    border-color: #596ABA;
}

.submit-btn {
    width: 416px;
    height: 95px;
    position: absolute;
    bottom: -135px;
    left: 113px;
    border-radius: 56.5px;
    background-color: #596ABA;
    border: 0;
    font-weight: 900;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.000430634px;
}

.submit-btn:hover,
.submit-btn:focus {
    cursor: pointer;
    background-color: #3C4D9A;
}

.popup-submit {
    left: 181px;
    background-color: #4A90E2;
}

/*Feedback end*/

/*Main page styles end*/

/*Privacy page styles*/

.privacy {
    background-image: url(../img/svg/main-page-about.svg);
}

.privacy__wrapper {
    padding: 150px 0 133px 0;
}

.privacy__title {
    font-weight: 900;
    font-size: 70px;
    line-height: 88px;
    letter-spacing: -0.00150722px;
    color: #000000;
    margin-bottom: 72px;
}

.privacy__text {
    margin: 0;
}

.privacy-block-2 {
    margin-top: 29px;
    margin-bottom: 19px;
}

.privacy__subtitle {
    font-weight: bold;
    line-height: 62px;
    letter-spacing: -0.000430634px;
    color: #000000;
    margin: 0;
}

.privacy__olist {
    list-style: none;
    margin: 0;
    padding: 0;
}

.privacy__olist-item {
    padding: 10px 0;
}

.privacy__olist-num {
    background: #586CCC;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.000344507px;
    color: #FFFFFF;
    padding-top: 4.5px;
    margin-right: 26px;
}

.privacy-block-3 {
    margin-bottom: 29px;
}

.privacy-block-3-text {
    margin: 0;
}

.privacy-block-3-text:first-line {
    line-height: 32px;
}

.privacy-block-4-text {
    margin: 0;
    padding-top: 10px;
}

.privacy__ulist {
    list-style: none;
    margin: 10px 0 35px 0;
    padding: 0;
}

.privacy__ulist-item {
    padding: 10px 0;
}

.privacy__ulist-num {
    background: #586CCC;
    display: inline-block;
    width: 6.72px;
    height: 6.72px;
    border-radius: 50%;
    margin-right: 21px;
    margin-bottom: 4px;
}

.privacy-block-5-text {
    margin: 0;
}

.privacy-block-5-text:first-line {
    line-height: 32px;
}

.privacy-block-5 {
    margin-bottom: 28px;
}

.block-7__text {
    margin: 0;
}

.privacy-block-7 {
    margin-bottom: 28px;
}

.subtitle-1 {
    font-weight: bold;
    line-height: 30px;
    letter-spacing: -0.000430634px;
    color: #000000;
    margin: 0 0 6px 0;
}

.text-1 {
    margin: 0 0 19px 0;
}

.subtitle-2 {
    line-height: 58px;
}

.text-2 {
    line-height: 40px;
    margin-bottom: 28px;
}

.subtitle-3 {
    line-height: 45px;
}

.text-3 {
    line-height: 42px;
    margin-bottom: 25px;
}

.subtitle-4 {
    line-height: 47px;
}

.text-4 {
    line-height: 41px;
    margin-bottom: 28px;
}

.subtitle-5 {
    line-height: 45px;
}

.text-5 {
    line-height: 42px;
}

.privacy-block-8 {
    margin-bottom: 28px;
}

.block-8__subtitle1 {
    line-height: 43px;
}

.block-8__text1 {
    margin: 0 0 28px 0;
    line-height: 42px;
}

.block-8__subtitle2 {
    line-height: 43px;
}

.block-8__text2 {
    margin: 0;
    line-height: 42px;
}

.privacy-block-9 {
    margin-bottom: 28px;
}

.block-9-text {
    margin: 0;
}

.block-9__subtitle1 {
    line-height: 43px;
}

.block-9__text1 {
    line-height: 42px;
}

.block-9-text span {
    font-weight: bold;
}

.block-9__text2 a {
    color: #586CCC;
}

.block-9__subtitle2 {
    line-height: 42px;
}

.block-10-text {
    margin: 0;
}

.block-10__subtitle1 {
    line-height: 43px;
}

.block-10__text1 {
    line-height: 42px;
    margin-bottom: 28px;
}

.block-10__text1 a,
.block-10__text2 a {
    color: #586CCC;
}

.block-10__subtitle2 {
    line-height: 43px;
}

.block-10__text2 {
    line-height: 42px;
}


/*Privacy page styles end*/

/*Cookies page styles*/

.cookies {
    background-image: url(../img/svg/main-page-about.svg);
}

.cookies__wrapper {
    padding: 151px 0 117px 0;
}

.cookies__title {
    font-weight: 900;
    font-size: 70px;
    line-height: 88px;
    letter-spacing: -0.00150722px;
    color: #000000;
    margin-bottom: 85px;
}

.cookies__text {
    margin: 0;
}

.cookies__subtitle-1 {
    margin: 32px 0 24px 0;
}

.cookies__subtitle {
    font-weight: 900;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: -0.00064595px;
    color: #000000;
}

.cookies-block-title {
    font-weight: bold;
    margin: 0;
}

.cookies-block-2 {
    margin-bottom: 32px;
}

.cookies__ulist {
    list-style: none;
    margin: 7px 0 35px 0;
    padding: 0;
}

.cookies__ulist-item {
    padding: 10px 0;
}

.cookies__ulist-num {
    background: #586CCC;
    display: inline-block;
    width: 6.72px;
    height: 6.72px;
    border-radius: 50%;
    margin-right: 21px;
    margin-bottom: 4px;
}

.cookies_bold {
    font-weight: bold;
}

.cookies_mgn {
    margin-left: 28px;
}

.cookies__subtitle-2 {
    margin: 0 0 34px 0;
    line-height: 18px;
}

.cookies__ulist-2 {
    list-style: none;
    margin: 0;
    padding: 0;
}

.cookies__ulist-2-item:last-child {
    padding-top: 23px;
}

.cookies__subtitle-3 {
    margin: 32px 0 24px 0;
}

.cookies__ulist-3 {
    margin: 21px 0 21px 0;
    padding: 0;
    list-style: none;
}

.cookies__ulist-3-item {
    padding: 21px 0;
}

.cookies__ulist-3 a {
    color: #586CCC;
}

.cookies-block-6 a {
    color: #586CCC;
}

.cookies__subtitle-4 {
    margin: 32px 0 24px 0;
}

.cookies__subtitle-5 {
    margin: 52px 0 24px 0;
}

/*Cookies page styles end*/

/*Company page styles*/

.company-bg-1 {
    background-image: url(../img/svg/main-page-about.svg);
}

.company-bg-2 {
    background: url(../img/main-page-testimonials.jpg) no-repeat;
    background-position: 5px 122px;
    background-size: cover;
}

.value {
    padding-top: 169px;
    margin-bottom: 94px;
}

.value__wrapper {
    max-width: 1305px;
    margin: 0 auto 0 0;
    display: flex;
}

.value__left {
    width: 50%;
    position: relative;
}

.play-icon {
    position: absolute;
    width: 145px;
    height: 145px;
    top: 279px;
    left: 286px;
    border-radius: 50%;
    background: url(../img/svg/company-page-play-icon.svg) center no-repeat;
    box-shadow: 0 0 76px rgba(0, 0, 0, 0.5);
}

.play-icon:hover {
    cursor: pointer;
}

.value__right {
    width: 50%;
    padding: 143px 0 0 109px;
}

.value__title {
    margin-bottom: 55px;
}

.value__text {
    max-width: 520px;
    margin: 0;
}

.stats {
    margin-bottom: 140px;
}

.stats__wrapper {
    display: flex;
}

.stats__left {
    max-width: 349px;
    padding-top: 23px;
}

.stats__right {
    width: 1137px;
    display: flex;
    justify-content: space-between;
    padding-left: 226px;
}

.stats__right-item {
    max-width: 162px;
}

.stats__number {
    font-weight: 200;
    font-size: 90px;
    line-height: 113px;
    letter-spacing: -0.00193785px;
    color: #000000;
}

.stats__text-1 {
    max-width: 140px;
    margin: 58px auto 0 4px;
}

.stats__text-2 {
    max-width: 140px;
    margin: 58px auto 0 7px;
}

.stats__text-3 {
    max-width: 140px;
    margin: 58px auto 0 7px;
}

.stats__text-4 {
    max-width: 140px;
    margin: 58px auto 0 auto;
    padding-left: 10px;
}

.promise {
    padding-bottom: 60px;
    margin-bottom: 185px;
}

.promise__wrapper {
    display: flex;
}

.promise__left {
    padding: 14px 169px 0 0;
}

.promise__text {
    max-width: 906px;
}

.company-partners {
    margin-bottom: 43px;
}

.company-partners__wrapper {
    display: flex;
}

.company-partners__left {
    width: 301px;
    margin-right: 281px;
}

.company-partners__right {
    width: 885px;
    height: 445px;
}

.company-partners__block-1 {
    padding: 20px 27px 0 0;
    margin-bottom: 76px;
}

.company-partners__block-2 {
    margin-bottom: 126px;
    padding-top: 10px;
}

.company-partners__block-3 {
    padding: 0;
}

.ms-icon {
    margin: 0 154px 15px 188px;
}

.sherweb-icon {
    margin-bottom: 19px;
}

.veeam-icon {
    margin: auto 160px 20px 188px;
}

.sw-icon {
    margin: 0 0 14px 0;
}

.bitsight-icon {
    margin: 0 170px 0 161px;
}

.hp-icon,
.ms-icon,
.gsa-icon,
.veeam-icon,
.sw-icon,
.dell-icon {
    opacity: 0.2;
}

.company-testimonials {
    padding-bottom: 45px;
    background: none;
}

/*Company page styles end*/

/*Industry page styles*/

.industry {
    padding: 150px 0 136px 0;
    background-image: url(../img/svg/main-page-about.svg);
}

.industry__title {
    margin-bottom: 29px;
}

.industry__subtitle {
    max-width: 956px;
    font-weight: 300;
    font-size: 40px;
    line-height: 70px;
    letter-spacing: -0.000861267px;
    color: #000000;
    margin: 0 0 140px 0;
}

.industry__wrapper {
    display: flex;
    flex-direction: column;
}

.industry-block {
    display: flex;
}

.industry-block-1 {
    margin-bottom: 196px;
}

.industry-block-1__left {
    width: 50%;
    padding-left: 170px;
}

.industry-block-1__right {
    width: 50%;
    padding: 17px 0 0 30px;
}

.industry-block__title {
    font-weight: 900;
    font-size: 60px;
    line-height: 75px;
    letter-spacing: -0.0012919px;
    color: #000000;
    margin-bottom: 57px;
}

.industry-block__text {
    max-width: 484px;
    margin: 0;
}

.industry-block-1__text {
    margin: 0 auto 76px 0;
}

.industry-btn {
    width: 243px;
    height: 60px;
}

.industry-block-2__left {
    width: 50%;
    padding: 35px 0 0 170px;
}

.industry-block-2__right {
    width: 50%;
    padding: 18px 0 0 86px;
}

.industry-block-2__text {
    padding-left: 3px;
    margin-bottom: 56px;
}

.industry-block-2 {
    margin-bottom: 214px;
}

.industry-block-3__left {
    width: 50%;
    padding-left: 170px;
}

.industry-block-3__right {
    width: 50%;
    padding: 17px 0 0 30px;
}

.industry-block-3__text {
    margin-bottom: 56px;
}

.industry-block-3 {
    margin-bottom: 196px;
}

.industry-block-4__left {
    width: 50%;
    padding: 35px 0 0 170px;
}

.industry-block-4__right {
    width: 50%;
    padding: 18px 0 0 86px;
}

.industry-block-4__text {
    padding-left: 3px;
    margin-bottom: 57px;
}

.industry-block-4 {
    margin-bottom: 214px;
}

.industry-block-5__left {
    width: 50%;
    padding-left: 170px;
}

.industry-block-5__right {
    width: 50%;
    padding: 17px 0 0 30px;
}

.industry-block-5__text {
    margin-bottom: 57px;
}

/*Industry page styles end*/

/*Blog page styles*/

.blog {
    padding: 150px 0 119px 0;
    background-image: url(../img/svg/main-page-about.svg);
}

.blog__title {
    margin-bottom: 29px;
}

.blog__subtitle {
    max-width: 956px;
    font-weight: 300;
    font-size: 40px;
    line-height: 70px;
    letter-spacing: -0.000861267px;
    color: #000000;
    margin: 0 0 115px 0;
}

.blog-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 142px;
}

.blog-block__left {
    width: 543px;
}

.blog-block__right {
    max-width: 844px;
}

.blog-block__title {
    font-weight: 900;
    font-size: 60px;
    line-height: 63px;
    letter-spacing: -0.0012919px;
    display: inline;
    border-bottom: 1px solid #000000;
    transition: border .3s linear;
}

.blog-block__title:hover {
    border: none;
}

.blog-block__title a {
    color: #000000;
    text-decoration: none;
}

.blog-block__text {
    font-weight: 300;
    font-size: 20px;
    line-height: 42px;
    letter-spacing: -0.000430634px;
    color: #000000;
    padding-left: 2px;
}

.blog-block__date {
    display: flex;
    height: 42px;
}

.blog-block__date div {
    font-weight: bold;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: -0.000322975px;
    text-transform: uppercase;
    color: #000000;
}

.blog-time {
    padding: 12px 29px 0 0;
    border-right: 1px solid rgba(0, 0, 0, .2);
}

.blog-views {
    padding: 12px 0 0 52px;
    position: relative;
}

.blog-views::before {
    position: absolute;
    content: "";
    width: 17px;
    height: 12px;
    top: 15px;
    left: 24px;
    background: url(../img/svg/blog-page-eye.svg) center no-repeat;
}

.blog-block__title-2 {
    line-height: 43px;
}

.blog-block__title-3 {
    line-height: 58px;
}

.blog-block__title-4 {
    line-height: 59px;
}

.blog-block__text-1 {
    margin: 53px 0 35px 0;
}

.blog-block__text-2 {
    margin: 40px 0 35px 0;
}

.blog-block__text-3 {
    margin: 43px 0 35px 0;
}

.blog-block__text-4 {
    margin: 41px 0 35px 0;
}

.blog-block:nth-child(4) {
    margin-bottom: 105px;
}

.btn-gray {
    font-family: Muli, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.000430634px;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: background-color .3s linear;
}

.blog-btn {
    width: 604px;
    height: 90px;
    margin: 0 auto;
}

.btn-gray:hover,
.btn-gray:focus {
    background-color: #e1e2e2;
}

/*Blog page styles end*/

/*Blog-article page styles*/

.blog-article {
    padding: 169px 0 136px 0;
    background-image: url(../img/svg/main-page-about.svg);
}

.blog-post__title {
    font-weight: 900;
    font-size: 70px;
    line-height: 88px;
    letter-spacing: -0.00150722px;
    color: #000000;
    margin-bottom: 31px;
}

.blog-post__right {
    padding-top: 143px;
}

.blog-post__date {
    padding-left: 3px;
}

.blog-post__text {
    max-width: 808px;
    font-weight: 300;
    font-size: 40px;
    line-height: 70px;
    letter-spacing: -0.000861267px;
    color: #000000;
    margin: 29px 0 0 0;
}

.blog-post__intro {
    margin-bottom: 102px;
}

.blog-article__text {
    max-width: 1146px;
    margin: 0 auto;
}

/*Blog-article page styles end*/

/*Contact us page styles*/

.contacts {
    padding: 150px 0 158px 0;
    background-image: url(../img/svg/main-page-about.svg);
}

.contacts__title {
    margin-bottom: 29px;
}

.contacts__subtitle {
    max-width: 948px;
    font-weight: 300;
    font-size: 40px;
    line-height: 70px;
    letter-spacing: -0.000861267px;
    color: #000000;
    margin: 0 0 106px 0;
}

.contacts__wrapper {
    display: flex;
}

.contacts-form__field {
    width: 858px;
}

.contacts-textarea {
    width: 858px;
    height: 449px;
}

.contacts-submit {
    position: static;
    margin: 90px auto 0 auto;
    padding: 0;
}

.contacts-right {
    padding: 0 0 0 138px;
}

.contacts-right__title {
    font-weight: 900;
    font-size: 30px;
    line-height: 21px;
    letter-spacing: -0.00064595px;
    text-transform: uppercase;
    color: #000000;
}

.contacts-right__text {
    font-weight: 300;
    font-size: 30px;
    line-height: 57px;
    letter-spacing: -0.000417383px;
    color: #000000;
    margin: 53px 0 112px 0;
}

.contacts-right__text a {
    color: #000000;
    text-decoration: none;
    border-bottom: 1px solid #000000;
    transition: border .3s linear;
}

.contacts-right__text a:hover {
    border: none;
}

.contacts__socials {
    margin-top: 74px;
}

.contacts__socials-link {
    display: block;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    margin-right: 21px;
    background-color: #596ABA;
}

.contacts__socials-link:hover {
    opacity: .8;
}

.contacts__socials--fb {
    background-image: url(../img/svg/contacts-fb-icon.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.contacts__socials--lkdn {
    background-image: url(../img/svg/contacts-lkdn-icon.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.contacts__socials--inst {
    background-image: url(../img/svg/contacts-inst-icon.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.contacts__socials--twt {
    background-image: url(../img/svg/contacts-twt-icon.svg);
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 0;
}

.map {
    height: 573px;
    box-shadow: 0 2px 59px rgba(0, 0, 0, 0.3);
    position: relative;
}

.map::before {
    position: absolute;
    content: "";
    width: 391px;
    height: 119px;
    top: 166px;
    left: 922px;
    background: url(../img/svg/contacts-pointer-map.svg);
}

/*Contact us page styles end*/

/*Backup-recovery page styles*/

.backup-recovery {
    padding: 169px 0 166px 0;
    background-image: url(../img/svg/main-page-about.svg);
}

.backup-recovery__wrapper {
    display: flex;
}

.backup-recovery__right {
    max-width: 701px;
    padding-top: 207px;
    margin-left: 140px;
}

.backup-recovery__text {
    margin: 40px 0 0 0;
    padding-left: 5px;
}

/*Backup-recovery page styles end*/

/*Footer styles*/

.footer {
    background: linear-gradient(180deg, #0C1331 0%, #131D4B 100%);
    padding: 138px 0 146px 0;
}

.footer__top {
    display: flex;
    justify-content: space-between;
}

.footer-logo {
    height: 50px;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    width: 685px;
    height: 41px;
    margin: 0 0 0 120px;
    padding: 3px 0 0 0;
    list-style: none;
}

.footer-nav__item {
    border-bottom: 1px solid #3C4D9A;
    transition: border .3s linear;
}

.footer-nav__item:hover {
    border: 0;
}

.footer-nav__link {
    font-family: Muli, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 17px;
    line-height: 21px;
    letter-spacing: -0.000366039px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    transition: opacity .3s linear;
}

.footer-nav__link:hover {
    opacity: .7;
}

.footer-btn {
    width: 243px;
    height: 60px;
}

.footer__descr {
    height: 129px;
    font-weight: 300;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.000241155px;
    color: #424964;
    padding: 22px 0 15px 0;
    margin-bottom: 63px;
}

.footer__middle {
    display: flex;
    padding: 51px 0 44px 0;
    border-top: 1px solid rgba(255, 255, 255, .21);
    border-bottom: 1px solid rgba(255, 255, 255, .21);
}

.footer__middle-block:first-child {
    display: flex;
    border-right: 1px solid rgba(255, 255, 255, .21);
    padding-right: 52px;
}

.footer__middle__phone {
    margin-right: 28px;
}

.phone-link {
    font-family: Muli, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: -0.000361732px;
    color: #FFFFFF;
    text-decoration: none;
}

.footer__middle__city {
    font-family: Muli, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: -0.000361732px;
    color: #FFFFFF;
    text-decoration: none;
}

.footer__middle-block:nth-child(2) {
    font-family: Muli, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.000278256px;
    color: #FFFFFF;
    padding: 5px 55px 0 52px;
    border-right: 1px solid rgba(255, 255, 255, .21);
}

.email-block {
    padding: 6px 0 0 54px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.email-link {
    height: 30px;
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.000430634px;
    color: #FFFFFF;
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.email-link:hover {
    border: 0;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 91px;
    position: relative;
}

.footer__copyright {
    display: flex;
    height: 30px;
}

.copyright-text,
.policy-link {
    font-family: Muli, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.000241155px;
    color: #FFFFFF;
    opacity: .5;
}

.copyright-text {
    margin: 0;
    margin-right: 76px;
}

.policy-link {
    text-decoration: none;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(255, 255, 255, .4);
}

.policy-link:hover {
    border: 0;
}

.policy-link:last-child {
    margin-left: 35px;
}

.footer__socials {
    position: absolute;
    top: 76px;
    right: -1px;
}

.social-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.social-list-link {
    display: block;
    width: 52px;
    height: 52px;
    background-color: rgba(255, 255, 255, .15);
    border-radius: 50%;
    margin-right: 22px;
}

.social-list-link:hover {
    opacity: .7;
}

.social-list-link--fb {
    background-image: url(../img/svg/fb-icon.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.social-list-link--lkdn {
    background-image: url(../img/svg/lkdn-icon.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.social-list-link--inst {
    background-image: url(../img/svg/inst-icon.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.social-list-link--twt {
    background-image: url(../img/svg/twt-icon.svg);
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 0;
}

/*Footer styles end*/